/* RESET */
* {
    margin: 0;
    padding:0;
}
:root {
    --accent: #FF917B;
    --contrast: #c13131;
    --lightContrast: #faa999;
    --special: #ff0202;
    --bgColor: #FFFDF2;
}
body {
    background-color: var(--bgColor);
    margin: 0 10px;
}
h1 {
    font-size: 1.7em;
}

/* HEADER */
/* navigation */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor) ;
    position: fixed;
    top: 0px;
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    align-items: center;

}
nav li{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 20px;
    border-right: 1px solid black;
    
} 
nav li:last-child {
    border: 0;
}
nav a{
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    color: var(--base);
    box-shadow: 0px 0px 0px;

    text-transform:uppercase;
    font-family: 'Noto Serif Lao', serif;
    font-weight: 700;
    border: 1px solid var(--accent);
}
.go-top {
    width: 50%;
    
}
nav a:active{
    transition: 0.4s;
    box-shadow: 0px 0px 10px;
}
nav a:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 10px;
}

@media screen and (min-width: 641px) and (max-width: 940px){
    nav ul {
        width: 80%;
    }
}
@media screen and (min-width: 941px){
    nav ul {
        width: 50%;
    }
}

/* banner */

#banner{
    margin-top: 40px;
    height: 200px;
    background: no-repeat center/150% url("./Resources/imgs/banner.jpg");
    width: 100%;
    text-align: center;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .outer-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .inner-div{
    /* background-color: #fafafa; */
    background-color: var(--bgColor);
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 2px;
}
#banner h1{
    text-shadow: 0px 0px 1px black;
    color: #fc5b3b;
    /* color: var(--accent); */
    font-size: 2.5em;
    padding: 0;
    
}

@media screen and (min-width: 641px) and (max-width: 940px){
    #banner h1{
        font-size: 3em;
    }
}
@media screen and (min-width: 941px){
    #banner h1{
        font-size: 3em;
    }
}

/* Price list */

main section {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
} h1 {
    padding: 0.2em 0;
    font-family: 'Noto Serif Lao', serif;
    font-weight: 700;
}
main h2{
    font-family: 'Noto Serif Lao', serif;
    font-weight: 400;
    text-decoration: underline;
    padding: 0;
    font-size: 1.2em;
}
main article{
    margin-bottom: 2.5em;
}
main article p{
    font-size: 0.8em;
    color:rgb(118, 116, 116);
    font-family: 'Poppins', sans-serif;
    overflow-wrap: break-word;
   
}
.translations h2 span{
    content: 'to ';
    color: var(--contrast);
    font-weight: bold;
}
.list{
    margin: 0.3em 0;
    font-family: 'Roboto Slab', serif;
} 
.list li:first-child{
    border-bottom: 2px var(--contrast) solid;
    
}
.list li{
    list-style: none;
    font-weight: 300;
    padding: 0.3em;
    border-bottom: 2px var(--contrast) solid;
}
.list li:last-child{
    border-bottom:0;
}
.list span{
    float: right;
    margin-left: 10px;
    font-weight: 500;
}
.list span[class='new']{
    color: var(--special);
    font-weight: bold;
}

.extra-info{
    font-family: 'Poppins', sans-serif;
    border: 3px solid var(--contrast);
    text-align: center;
    padding: 0.3em;
}

@media screen and (min-width: 641px) and (max-width: 940px){
    main section {
        width: 70%;
    }
}
@media screen and (min-width: 941px){
    main section {
        width: 50%;
    }
}

/* Quotes section - for later use...*/
#quote-section{display:none;}

/* Contact */
#contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-section p{
    /* color: var(--contrast); */
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
#contact-section h2{
    display: inline-block;
    text-decoration: none;
}
#contact-section a{
    margin-left: 5px;
    color: var(--contrast);
}
#contact-section i{
    color: black;
    margin-left: 0.5em;
    font-size: 1.5em;
}
#emailCheck, #phoneCheck, #mapCheck{
    visibility: hidden;
}
#mapAddress{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
iframe {
    margin: 0 auto;
}


/* Footer */

footer{
    margin: 20px auto 10px auto;
   
    
    width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;

   border-top: 1px solid black;
   
} p{
    color: #000;
}


/* Tablets */
@media screen and (min-width: 641px) and (max-width: 940px){
    #banner {
        height: 300px;
    }
}

/* Desktop */
@media screen and (min-width: 941px){
    #banner {
        height: 400px;
    }
}